html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}

/*---------------------------------------------------RESPONSIVE---------------------------------------*/

.wrap { 
    width: 100%; 
    max-width: 640px; 
    min-width: 320px; 
    margin: 0 auto; 
    position: relative;
}

/*--------------------------------------------------------------------------------APPEAREANCE--*/

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance:none;
     -o-appearance:none;
    border-radius: 0px;
    border: 0 none;
    height: 16px;
    width: 16px;
    margin: 0 0 0 10px;
    padding: 0;
    cursor:pointer;
    background: url('../img/mobile/selectbg.png') no-repeat right center;
}

input[type="checkbox"]:checked {
    background: url('../img/mobile/checked.gif') no-repeat right center;
}

/*---------------------------------------------------GENERALES---------------------------------------*/
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}
a{
    text-decoration: none;
}

